@import "tailwindcss";

#root,
html,
body {
  overflow: hidden;
  overflow-y: auto;
}

#root {
  display: flex;
  justify-content: center;
}

.customBackground {
  overflow: hidden;
  position: relative;
}
.customBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../src/assets/images/cover_bg.png");
  background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/images/musicbg.jpg");
  background-size: 400px;
  background-repeat: repeat;
  opacity: 0.1;
  z-index: -2;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, white 50%, transparent 100%);
  z-index: -1;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
img {
  max-width: none !important;
}

@keyframes move-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.5;
    transform: translateY(-35%);
  }
}

@keyframes move-in {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

/* Apply the move-in animation when the page is entering */
.page-container.entering {
  animation: move-in 1.5s cubic-bezier(0.87, 0, 0.13, 1) both;
}

/* Apply the move-out animation when the page is exiting */
.page-container.exiting {
  animation: move-out 1.5s cubic-bezier(0.87, 0, 0.13, 1) both;
}

/* Default page container styles */
.page-container {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
}

.animate-down {
  animation: loadDown 0.5s cubic-bezier(0.87, 0, 0.13, 1);
}

.animate-down-start {
  animation: loadDown 1s cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes loadDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-left {
  animation: loadLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.animate-left-normal {
  animation: loadLeft 1s linear;
}
@keyframes loadLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-right {
  animation: loadRight 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.animate-right-normal {
  animation: loadRight 1s linear;
}
@keyframes loadRight {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-appear {
  animation: appear 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gradient-overlay {
  background: linear-gradient(transparent,rgba(255, 255, 255, 0.25), rgb(255, 255, 255));
}

.meshBg {
  background: #38BDF8;
  background: radial-gradient(circle,#60a5fa 19%, #60a5fa 31%, #3b82f6 85%);
}

.loading-animation{
  position: relative;
  overflow: hidden;
}
.loading-animation::before{
  content: '';
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  background: rgb(255, 255, 255);
  filter: blur(10px);
  transform: skew(-10deg);
  animation: loadingData 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes loadingData {
  from {
    left:-10%;
  }
  to {
    left: 110%;
  }
}

.loading-box{
  animation: LoadingBox 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate infinite;
}

@keyframes LoadingBox {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

/* .watermarked {
  position: relative;
}

.watermark-wrapper::after {
  content: "FREE USER";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  font-size: 2rem;
  font-weight: 700;
  color: black;
  opacity: 1;
  pointer-events: none;
  z-index: 10;
} */