@import "tailwindcss";

#root,body {
  overflow: hidden;
}

@keyframes move-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.5;
    transform: translateY(-35%);
  }
}

@keyframes move-in {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

/* Apply the move-in animation when the page is entering */
.page-container.entering {
  animation: move-in 1.5s cubic-bezier(0.87, 0, 0.13, 1) both;
}

/* Apply the move-out animation when the page is exiting */
.page-container.exiting {
  animation: move-out 1.5s cubic-bezier(0.87, 0, 0.13, 1) both;
}

/* Default page container styles */
.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.animate-down{
  animation: loadDown .5s cubic-bezier(0.87, 0, 0.13, 1);
}

.animate-down-start{
  animation: loadDown 1s cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes loadDown {
  from{
    transform: translateY(-50%);
    opacity: 0;
  }to{
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-left{
  animation: loadLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes loadLeft {
  from{
    transform: translateX(-50%);
    opacity: 0;
  }to{
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-right{
  animation: loadRight 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes loadRight {
  from{
    transform: translateX(500px);
    opacity: 0;
  }to{
    transform: translateX(0);
    opacity: 1;
  }
}